<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" alt="" id="logoAP">
    </div>
    <div class="redes">

        <a href=""><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
        <a href=""><img src="../../../assets/twitter.png" alt="" id="twitter"></a>
        <a href=""><img src="../../../assets/instagram.png" alt="" id="instagram"></a>
        <a href=""><img src="../../../assets/github.png" alt="" id="github"></a>
        <a href=""><img src="../../../assets/facebook.png" alt="" id="facebook"></a>
        <button type="button" id="" class="btn btn-outline-light">INGRESO</button>

    </div>
  </div>
</div>


