<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jfif" alt="" id="fotodeperfil" class="img-fluid">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Nicolas Ignacio Diaz</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nemo eaque impedit laboriosam laborum voluptate doloremque, eius aliquam ex, quos aperiam esse illo quae. Ad animi perspiciatis quis assumenda odio.</p>
    </span>
  </div>
</div>

